.Detail {
  display: grid;
  grid-template: 1fr min-content 6fr 1fr / 1fr 1fr;
  align-items: center;
  text-align: center;
  background-color: lemonchiffon;
  color: darkslategray;
  font-size: 2vh;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
}

.Detail div::-webkit-scrollbar {
  width: 5px;
}

.Detail div::-webkit-scrollbar-thumb {
  background-color: rgb(149, 212, 209);
}

.Detail div::-webkit-scrollbar-track {
  background-color: rgb(250, 239, 137);
}

.Detail .date,
.Detail .views {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted lightseagreen;
}

.Detail .date {
  border-right: 1px dotted lightslategray;
}

.Detail .title {
  height: 100%;
  grid-column: span 2;
  overflow-wrap: break-word;
}

.Detail .title h2 {
  font-size: 3vh;
  margin: 0;
  padding: 20px 10px;
  border-bottom: 6px double lightsalmon;
}

.Detail .content {
  height: 100%;
  grid-column: span 2;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
  white-space: pre-wrap;
  border-bottom: 1px dotted lightseagreen;
  text-align: left;
  line-height: 130%;
}

.Detail .btn-box {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
}

.Detail .btn-box a,
.Detail .btn-box span {
  cursor: pointer;
  color: tomato;
  width: 20%;
  transition: color 0.1s ease-in;
}

.Detail .btn-box a:hover,
.Detail .btn-box span:hover {
  color: lightseagreen;
}

.Detail .btn-box a {
  text-decoration: none;
}
